body{
    margin: 0;
    padding: 0;
    background: #dddedf;
    
}
.name{
    width: 90%;
    height: 300px;
    background: #dde0e2;
    position: relative;
    left: 5%;
     
     
}
.name .imagen{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}
.name .imagen img{
    width: 180px;
    height: 180px;
}
.name .contenedor {
    width: 50%;
    height: 80%;
    position: absolute;
    left: 25%;
}

.name .contenedor .dato1{
    color: #081d33;
    font-family: 'Lora', serif;
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 0;
    text-align: center;
}
.name .contenedor .dato2{
    color: #000000;
    font-family: 'Lora', serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.datosP{
    width: 90%;
    height: auto;
    background: #dde0e2;
    margin: 5% auto;
    padding: 20px;
}

.datosP .D{
    color: #37516d;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    border-bottom: 2px #4e631b solid;
}

.datosP .N{
    color: rgb(2, 2, 2);
    font-family: 'Lora', serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
}

.datosP .S{
    color: #3C3C3B;
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}
.contenet {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

}
.contenet >div{
    display: block;
    background:   #aabcf7;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.25);
     

}

.contenet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}